/react-app/dist
/vue-app/dist

/react-app/node_modules
/vue-app/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.code-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json

# System Files
.DS_Store
Thumbs.db